<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>second pages!</title>
    </head>
    <body>
        <div id="root"></div>

        <!-- Main -->
        <script src= "<%= process.env.HOST_URL %>/static/test2.js"></script>
    </body>
</html>